body {
    font-family: Arial, Helvetica, sans-serif;
    height: 470px;
    width: 659px;
    border: 2px solid #42b0f5;
    margin: auto;
    margin-top: 1cm;
}


form {
    border: 3px solid white;
    padding: 0px;
    margin-top: 0;
}

button {
    background-color: #26eb2f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.register {
    text-align: center;
    border: 0;

}

#my_button {
    border: 2px solid #3672f4;
    border-radius: 10px;
}

label::after{
    margin-left: 5px;
    font-size: 20px;
    content: "*";
    color: red;
}
#name {
    /* padding-left: 2cm; */

    border: 2px solid #3672f4;
    background-color: #26eb2f;
    padding: 10px 27px 11px 20px;
    /* content: "*"; */
    /* margin-top: 0.1cm; */
    /* margin-bottom: 20px; */
}

/* #user_input{
    border: #3672f4;
} */
.group_name {
    color: white;
    /* margin-top: 3cm; */
    position: relative;
    /* top: 0.7cm; */
    margin-left: 2cm;
    /* text-align: center; */
    border: 0;
    margin-top: 12px;
    margin-bottom: -1cm;
}

.group_gender {
    /* color: white; */
    /* text-align: center; */
    margin-top: 1cm;
    margin-left: 2cm;
    border: 0;
}

#gender {
    color: white;
    border: 2px solid #3672f4;
    background-color: #26eb2f;
    padding: 9px 33px 10px 20px;
}

.option_sex {
    font-size: 18px;
}


.group_department {
    /* color: white; */
    /* text-align: center; */
    margin-top: 0.3cm;
    margin-left: 2cm;
    border: 0;
}

#department {
    color: white;
    border: 2px solid #3672f4;
    background-color: #26eb2f;
    padding: 9px 15px 10px 20px;
}

#select_depart {
    margin-left: 0.2cm;
    font-size: 18px;
    border: 2px solid #3672f4;
    padding: 7px 20px 9px 20px;
}


.group_department select{
    /* use to hide the arraw icon from a dropdown list */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.date_group {
    /* color: white; */
    /* text-align: center; */
    /* margin-top: 1cm; */
    margin-left: 2cm;
    border: 0;
}

#date {
    color: white;
    background-color: #26eb2f;
    border: 2px solid #3672f4;
    padding: 7px 23px 9px 20px;
}

#date_input{
    margin-left: 0.2cm;
    border: 2px solid #3672f4;
    padding: 7px 28px 9px 20px;
}

.address_group{
    border: 0;
    color: white;
    text-align: center;
    margin-top: -0.2cm;
}

#add_label::after{
    content: "";
    margin-left: 0;
}
#add_label{
    
    border: 2px solid #3672f4;
    background-color: #26eb2f;
    padding: 7px 58px 9px 20px;
    /* margin-bottom: 4cm; */
    /* margin-left: 1.3cm; */
    
}

.image_group {
    color: white;
    /* margin-top: 3cm; */
    
    /* top: 0.7cm; */
    margin-left: 2cm;
    /* text-align: center; */
    border: 0;
    /* margin-top: 12px; */
    /* margin-bottom: -1cm; */
}


#img_label::after{
    content: "";
    margin-left: 0;
}
#img_label{
    border: 2px solid #3672f4;
    background-color: #26eb2f;
    padding: 7px 42px 9px 20px;
}

#fileToUpload{
    margin-left: 12px;
    color: black;
}



input[type=text] {
    height: 1.1cm;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0.2cm;
    display: inline-block;
    border: 2px solid #3672f4;
    box-sizing: border-box;
}

#add_input{
    width: 52%;
}


input[type=radio] {
    margin-left: 1cm;
    /* border: 10px solid #3672f4; */
    accent-color: #26eb2f;
    -ms-transform: scale(1.5);/* IE 9 */
    -webkit-transform: scale(1.5);/* Chrome, Safari, Opera */
    transform: scale(1.5);
}



/* .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
} */

/* use to hide date default */
#date_input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

/* to display the date after convert */
#date_input::before {
    /* position: absolute;
    top: 3px; left: 3px; */
    content: attr(data-date);
    /* display: inline-block;
    color: black; */
}