body {
    height: 100%;
    width: 100%;
    margin: auto;
    /* border: 2px solid blue; */
}



fieldset {
    border: 0;
    text-align: center;
    margin: 0;
}

label {
    text-align: left;
    margin-right: 50px;
    /* margin-left: 0cm; */

    /* border: 2px solid #093697;
    background-color: #5587f1; */
}

/* #key_word_label{
    margin-left: -18px;
} */

#key_word_input {
    margin-left: 0.8cm;
}

#number_student {
    float: left;
}

input[type=text] {
    height: 1.1cm;
    /* width: 30%; */
    padding: 12px 20px;
    margin: 8px 0.2cm;
    display: inline-block;
    border: 2px solid #3672f4;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

button {
    background-color: #3672f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid #093697;
    border-radius: 5px;
    cursor: pointer;
    /* width: 20%; */
}

#my_insert_button {
    float: right;
    padding: 10px 10px;
    width: 10%;
    margin-right: 1cm;
    /* border: ; */
}

#department {
    margin-left: -5px;
}


#select_depart {
    margin-left: 0.3cm;
    font-size: 18px;
    border: 2px solid #3672f4;
    padding: 7px 12px 9px 20px;
}

/* #department {
    color: white;
    border: 2px solid #3672f4;
    background-color: #26eb2f;
    padding: 9px 15px 10px 20px;
} */

table {
    margin-left: -1.3cm;
    border-collapse: separate;
    border-spacing: 50px 0;
}


td {
    padding: 10px 0;
}

.delete_change {
    background-color: #3672f4;
    color: white;
    padding: 10px 35px 10px 10px;
    border: 3px solid #093697;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}

